<% @users.each do |user|%>
		<div class="search_results">
				<a href="/users/<%=user.id%>" class="pp">
			    <%= if user.profile_picture.url == "/profile_pictures/original/missing.png"
			    		image_tag ("#{user.gender}.jpg")
			    	else
			    		image_tag (user.profile_picture.url)
			    	end
			    %></a>
		<span id="pro_name" class="name" > <%= user.first_name+" "+user.last_name+"  " %> </span><br>
		<span class="user_email_search"><%=user.email%></span>
		</div>
<% end %>